body {
    text-align: center;
    background-color: darksalmon;
    font-size: 25px;
    color: chartreuse
}

p {
    border: dashed 3px blue;
}

img {
    width: 500px;
    height: 400px;
    border: dashed 3px turquoise;
}

h1 {
    font-size: 45px;
    color: blueviolet;
    text-shadow: 2px 3px teal;
}

div {
    margin-top: 15px;
}

.image-section {
    display:list-item;
    justify-content: center;
}
.section-style{
}

